{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for seller in sellers %}
        <a class="btn btn-primary" href="{{ path('app_seller_booking', {id:seller.id}) }}">{{ seller.title }}</a>

    {% endfor %}
{% endblock %}
